{% extends '::base-app.html.twig' %}

{% block body %}

<div style="text-align: center;">
<img src="{{ asset('apple-touch-icon.png') }}">
<h1>Online Business Management System</h1>
</div>

<div class="container">
{% block mainarea %}{% endblock %}
</div>

{% endblock %}
