{% extends 'AdministrationBundle::layout.html.twig' %}

{% block mainarea -%}
<h1>User creation</h1>

{{ form(form) }}

<a href="{{ path('user') }}" class="btn btn-default">
	Back to the list
</a>

{% endblock %}
