{% extends 'AdministrationBundle::layout.html.twig' %}

{% block mainarea %}

<p>Welcome to the administration zone!</p>

<ul>
	<li>Administrators: {{ counters['nadministrators'] }}</li>
	<li>Users: {{ counters['nusers'] }}</li>
</ul>

{% endblock %}
