{% extends 'AppBundle::layout.html.twig' %}

{% block mainarea -%}

<h1>Worker holliday creation</h1>

{{ form(form) }}

<a href="{{ path('workerholliday') }}">
	Back to the list
</a>

{% endblock %}
