{% extends 'AdministrationBundle::layout.html.twig' %}

{% block mainarea -%}

<h1>Administrator creation</h1>

{{ form(form) }}

<a class="btn btn-default" href="{{ path('administrator') }}">
	Back to the list
</a>

{% endblock %}
