{% extends 'AppBundle::layout.html.twig' %}

{% block mainarea -%}
    <h1>SalesPreinvoice creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('salespreinvoice') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
