{% extends 'FrontBundle::layout.html.twig' %}

{% block mainarea %}

<h1>Online Business Management System</h1>
<p>An idea, a project, and a decission to work on it..</p>

<a href="{{ path('app_home') }}" class="btn btn-default">Application</a>
<a href="{{ path('administration_home') }}" class="btn btn-default">Administration</a>

{% endblock %}
