.navbar-brand {
	float: none;
	padding: 0px;
	margin: 0px;
}
.navbar-brand > img {
	display: inline;
	height: 36px;
}
h1 {
	margin-top: 0px;
}
.pagination {
	margin-top: 0px;
}
label.required:before {
	content: "* ";
}

#mainlayout {
	padding-top: 15px;
}

.panel-title .fa {
	min-width: 20px;
}
