{% extends '::base-front.html.twig' %}

{% block body %}

<div style="text-align: center;">
	<a href="{{ path('front_home') }}">
		<img src="{{ asset('apple-touch-icon.png') }}">
	</a>
	<h1>Online Business Management System</h1>
</div>

<div class="container">
	{% block mainarea %}{% endblock %}
</div>

{% endblock %}
