{% extends 'AppBundle::layout.html.twig' %}

{% block mainarea -%}
    <h1>Notification edit</h1>

    {{ form(edit_form) }}

        
    
        <a href="{{ path('notification') }}">
            Back to the list
        </a>
    
    {{ form(delete_form) }}

{% endblock %}
