{% extends 'AppBundle::layout.html.twig' %}

{% block mainarea -%}
    <h1>Notification creation</h1>

    {{ form(form) }}

        
    
        <a href="{{ path('notification') }}">
            Back to the list
        </a>
    

{% endblock %}
